.fa-custom
{
	color:#424242;
}

.banner-landing
{
	background-image: url(https://www.paypalobjects.com/web/res/eee/cd2eeb1f98f04a293851a58a332bb/images/landing-9ac13f.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
    

}

.banner-landing .text {
  padding-top: 10px;
  color: #ffffff;
}

.banner-landing .text button {
  
  border-radius: 50px;
  margin-top: 30px;
  outline: none;
}

.banner-landing .text button:hover {
  color: #0A5BAD;
  outline: none;
}
